@model IEnumerable<RainbowColor.Categoria>

@{
    ViewData["Title"] = "Lista de Categorias";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Criar">Cadastrar nova categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-outline-danger" asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}